%li[notice]
  %h3= link_to notice.title, notice
  = raw textilize(notice.content)
  - if organiser?
    %ul.actions
      %li= link_to 'Edit this notice', edit_notice_path(notice)
      %li.destroy= link_to 'Delete this notice', notice_path(notice), :confirm => 'Are you sure you want to delete this notice?', :method => :delete
