.talk {
	> header {
		> .title {
			@include title-font(22px);
			letter-spacing: 1px;
		}
	}

	.summary-list & {
		> .description {
			display: none;
		}
	}
	
	.item-detail-panel & {
		background: none;
	}
}
