// = colour library
$red_base: #ae1515;
$red_dark: #881515;
$med_green: #678C5B;
$dark_green: #6B8363;
$darker_green: #4A693F;
$default: #777;
$dark_grey: #444;
$med_grey: #999;
$light_grey: #ccc;
$feint_grey: #dedede;
$feint: #eee;
$bkg: #fefefe;


