$label_width: 100px;
$label_margin: 20px;
$input_margin: $label_width+$label_margin;

// = general form styling
form {width: 60%;}
label {font-weight:bold; float: left; width: $label_width; margin-top:5px; margin-right:$label_margin; line-height:30px; text-align:right;}
fieldset {padding:1em; margin:1em 0; border:0;}
legend {white-space:normal; color:#000; font-weight:bold; font-size:1.2em; margin-bottom: 10px;}
input, textarea {width:77%; border:1px solid $feint_grey; padding: 4px;}
input, textarea, select {margin:10px 0 0 0;}
textarea {height: 100px;}

p.input {margin-bottom: 10px; clear:both;}
p.boolean {clear:both; overflow:hidden;
  input[type=checkbox] {float:left; width:auto; margin-left: $input_margin;}
  label {float:left; width:auto; margin: 0;}
}
input[type=radio], input[type=checkbox] {margin-right: 5px;}
input[type=submit] {width: auto; @include green_button; float:right;}

// = errors
#error_explanation h2 {color: #8a1f11; font-size: 1.4em;}
.field_with_errors{
  .error {display:block; width:68%; margin-left: $input_margin;}
  input, textarea, select {background: #fbe3e4; border-color:#fbc2c4;}
}

span.hint {display:block; font-style:italic; color: $light_grey; margin-left: $input_margin;}

// overrides for discussion form
form.discussion {
  textarea { font-size: .9em; width: 100%; height: 500px; }
  input[type=submit] {width: auto; @include green_button; float: none;}
}
