.details
  %p.where
    %span Where
    #{talk.venue.name}
  %p.when
    %span When
    = casual_day_description(talk.start_at)
    from
    %time{:datetime => talk.start_at}
      = hour_of(talk.start_at)
    to
    %time{:datetime => talk.end_at}
      = hour_of(talk.end_at)
