.details
  %p.where
    %span Where
    #{talk.venue.name}
  %p.when
    %span When
    #{casual_day_description(talk.start_at.to_date)} from #{talk.start_at.strftime("%H:%M")} to #{talk.end_at.strftime("%H:%M")}
