-content_for :title do
  Talks

- content_for :content_header do
  - if current_user
    #actions
      %ul.actions
        %li= link_to 'Add a talk', calendar_talks_path

%section.expandable-list
  %div.list-panel
    %h2 In progress
    - if @in_progress.empty?
      %p Nobody's talking about anything right now. How odd!
    - else
      = render :partial => "list", :locals => { :talks => @in_progress }

    %h2 Today
    - if @upcoming.empty?
      %p
        There aren't any talks coming up today.
        = link_to "You better add one!", calendar_talks_path
    - else
      = render :partial => "list", :locals => { :talks => @upcoming }

  %div.item-detail-panel
    %p Click a talk for more details.