$pageBackground: #eae9e2;
$logoBackground: #ac300a;

// Primary Menu
$menuBackground: #bd3b13;
$menuColor: #fff;
$menuSelectedBackground: #842002;
$menuShadow: rgba(0,0,0,0.17);
$menuHighlight: rgba(255,255,255,0.2);