h1 {
	@include title-font($h1Size);
	color: $headingColor;
	line-height: $h1Line;
	margin: 0 auto;
	@include text-shadow($pageBackground 1px 1px 0, $headingShadow 3px 3px 0);
	
	> a {
		text-decoration: none;
		color: inherit;
	}
	
	#logo & {
		text-shadow: none;
	}
	
}

.actions {
	@include inline-list;
	text-align: right;
	
	a {
		@include action-button;
		@include box-sizing("border-box");
	}
}
