@mixin font-face($name, $font-files, $eot: false, $weight: false, $style: false) {
  $iefont: unquote("#{$eot}?iefix");
  @font-face {
    font-family: quote($name);
    @if $eot {
      src: font-url($eot);
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files;
    }
    @if $weight { font-weight: $weight; }
    @if $style { font-style: $style; }
    src: $font-files;
  }
}

@include font-face("Steelfish", font-files("/fonts/steelfish-rg.otf", opentype));
@include font-face("Steelfish", font-files("/fonts/steelfish-bd.otf", opentype), false, bold);
@include font-face("Steelfish", font-files("/fonts/steelfish-eb.otf", opentype), false, 900);
@include font-face("Droid Sans", font-files("/fonts/DroidSans.ttf", truetype));
@include font-face("Droid Sans", font-files("/fonts/DroidSans-Bold.ttf", truetype), false, bold);
@include font-face("Droid Serif", font-files("/fonts/DroidSerif.ttf", truetype));
@include font-face("Droid Serif", font-files("/fonts/DroidSerif-Bold.ttf", truetype), false, bold);
@include font-face("Droid Serif", font-files("/fonts/DroidSerif-Italic.ttf", truetype), false, false, italic);
@include font-face("Droid Serif", font-files("/fonts/DroidSerif-BoldItalic.ttf", truetype), false, bold, italic);

$h1Size: 32px;
$h1Line: 1.5;

@mixin title-font($size: -1) {
	font-family: "Steelfish", Impact, sans-serif;
	@if $size > 0 {
		@if unitless($size) {
			$size: 1px * $size;
		}
		font-size: $size;
	}
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@mixin body-font {
	font-family: "Droid Serif", "Museo Serif", "Times New Roman", serif;
}
