body {
	background: $pageBackground url('/images/bg.png');
}

#header .global > .primary {
	background: $menuBackground url('/images/head-bg-pattern.png') 0 0 repeat;
	height: 60px;
	margin-top: 58px;

	&:after {
		content:'';
		display: block;
		background-color: $menuShadow;
		height: 4px;
		margin: 0;
		padding: 0;
	}

	#logo {
		position: absolute;
		top: 0;
		left: 0;
	}

	> ul {
		display: block;
		padding-left: 0;
		margin: 0 auto;
		text-align: right;
		width: 960px;
		
		> li {
			box-sizing: border-box;
			display: inline-block;
			height: 60px;
			line-height: 50px;
			padding-top: 10px;
		}
	}
}