@mixin circle($diameter) {
	@include border-radius(($diameter/2)+3);
	display: block;
	line-height: $diameter;
	height: $diameter;
	text-align: center;
	vertical-align: middle;
	width: $diameter;
}

$logoDiameter: 139px;

body {
	background: $pageBackground url('/images/bg.png');
}

.global > .primary {
	background: $menuBackground url('/images/head-bg-pattern.png') 0 0 repeat;
	color: $menuColor;
	font-family: "Steelfish";
	height: 60px;
	margin-top: 58px;

	&:after {
		content:'';
		display: block;
		background-color: $menuShadow;
		height: 4px;
		margin: 0;
		padding: 0;
	}

	#logo {
		@include circle($logoDiameter);
		background: $pageBackground;
		left: 0;
		position: absolute;
		top: -($logoDiameter/4);
		
		> h1 {
			@include circle($logoDiameter - 10px);
			background: $menuBackground;
			@include box-sizing("border-box");
			font-size: 24px;
			margin: 5px;
			padding: 5px;
			word-wrap: nowrap;

			> a {
				@include circle($logoDiameter - 20px);
				border: 0;
				margin: 0;
				padding: 0 5px 10px;

				&:hover, &:active {
					border-color: transparent;
				}
			}
		}
	}

	a {
		color: $menuColor;
		text-decoration: none;
	}

	> ul {
		display: block;
		padding-left: 0;
		position: relative;
		margin: 0 auto;
		text-align: right;
		width: 960px;
		
		> li {
			display: inline-block;
			font-weight: 900;
			font-size: 22px;
			height: 60px;
			letter-spacing: 0.05em;
			line-height: 1;
			
			a {
				border: 1px solid transparent;
				@include border-radius(4px);
				@include box-sizing("border-box");
				display: block;
				margin: 10px 0 0;
				height: 40px;
				padding: 8px 12px 10px;
				text-transform: uppercase;
				
				&:hover, &:focus {
					background: $menuSelectedBackground;
					border: 1px solid;
					border-color: $menuShadow;
					border-bottom-color: $menuHighlight;
					border-right-color: $menuHighlight;
				}
			}
		}
	}
}