@import 'compass/css3';
@import 'colours';
@import 'fonts';

$h1Size: 32px;
$h1Line: 1.5;

@mixin title-font($size: -1) {
	font-family: "Steelfish", Impact, sans-serif;
	@if $size > 0 {
		@if unitless($size) {
			$size: 1px * $size;
		}
		font-size: $size;
	}
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@import 'layout';
@import 'content';