@import 'compass/css3';
@import 'colours';
@import 'fonts';

$h1Size: 32px;
$h1Line: 1.5;

@mixin title-font($size: -1) {
	font-family: "Steelfish", Impact, sans-serif;
	@if $size > 0 {
		@if unitless($size) {
			$size: 1px * $size;
		}
		font-size: $size;
	}
	text-transform: uppercase;
}

@mixin action-button {
	@include title-font(18px);
	@include box-shadow(transparentize($menuBackground, 0.6) 3px 3px 0);
	background: $menuBackground;
	color: $menuColor;
	display: inline-block;
	padding: 0.5em 1.5em;
	text-decoration: none;
}

@import 'layout';
@import 'content';