%li[talk]
  %span.talk_name= link_to talk.name, talk
  at
  %span.time
    = talk.start_at.strftime("%H%P")
    &#8211;
    = talk.end_at.strftime("%H%P")
  by
  %span.presenter= talk.user.full_name

