#welcome {
	.layout-group {
		border-spacing: 2em;
		
		> .layout-item {
			position: relative;
		}
	}
	
	.events, .talks { width: 400px; }
	.notices, .projects { width: 480px; margin-left: 80px; }
	
	.content-body {
		section  {
			margin-bottom: 1em;
		}
	}
}