#welcome {
	.layout-group {
		border-spacing: 2em;
		
		> .layout-item {
			position: relative;
		}
	}
	
	.notices { width: 400px; margin-left: 20px; }
	.events { width: 440px; }
	
	.content-body {
		section  {
			margin-bottom: 2em;
		}
	}
}