body {
	@include fixed-background;
	@include alt-font;
}

h1 {
	@include title-font($h1Size);
	color: $headingColor;
	line-height: $h1Line;
	margin: 0 auto;
	@include text-shadow($pageBackground 1px 1px 0, $headingShadow 3px 3px 0);
	
	> a {
		text-decoration: none;
		color: inherit;
	}
	
	#logo & {
		text-shadow: none;
	}
	
}

a {
	color: $linkColor;
	text-decoration: none;
	
	&:hover, &:focus {
		color: $linkHoverColor;
	}
	
	.content-body &:active {
		background: $menuBackground;
		color: $menuColor;
	}
}

.content-body {
	@include body-font;
	color: $textColor;
	
	h1, h2, h3 {
		color: #000;
	}
}

.avatar {
	@include box-sizing("border-box");
	overflow: hidden;
	background: $panelBackground;
	border: 1px solid $panelBorder;
	padding: 1px;
}

// Set a default size for avatars that haven't specified one.
.avatar:not([width]) {
	width: 50px;
	height: 50px;
}

.actions {
	@include inline-list;
	font-size: 0.9em;
	text-align: right;
	
	> li + li {
		margin-left: 0.5em;
	}
	
	&.as-buttons {
		a {
			@include action-button;
			@include box-sizing("border-box");
		}
	}

	&.as-bullets {
		a {
			background: none;
			border: 0;
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		
		> li + li {
			margin-left: 1em;
			
			&:before {
				color: #999;
				display: inline-block;
				content: '\00B7';
				margin: 0 0.5em 0 -0.5em;
			}
		}
	}
}

.contact-list {
	padding-left: 0;
	margin: 0;
	
	> li {
		list-style: none;
		&:empty { display: none; }
		&:before {
			color: #999;
			display: block;
			float: left;
			margin-right: 4px;
			text-align: right;
			text-wrap: nowrap;
			width: 24px;
		}

		&.twitter:before { content: '@'; width: 28px; margin-right: 0; }
		&.irc:before { content: 'irc:'; }
		&.bonjour:before { content: 'im:'; }
	}
}

.userlink {
	@include display-box;
	@include box-orient(horizontal);
	@include box-align(center);
	@include box-pack(start);
	@include box-lines(single);

	> img {
		display: block;
		vertical-align: middle;
	}
	> .name {
		margin-left: 4px;
		
	}
}

table {
	width: 100%;
	
	> thead > tr > th {
		background: rgba(0,0,0,0.1);
		border-bottom: 1px double rgba(0,0,0,0.8);
		color: #000;
		font-weight: 1.1em;
		margin-bottom: 3px;
		padding: 0.25em;
		padding-left: 4px;
		text-align: left;
	}
	
	> tbody {
		> tr.odd {
			background: transparentize($menuBackground, 0.9);
		}
		
		td {
			padding: 4px 8px;
		}
	}
}
