@mixin font-face($name, $font-files, $weight: false, $style: false) {
  @font-face {
    font-family: quote($name);
    @if $weight { font-weight: $weight; }
    @if $style { font-style: $style; }
    src: $font-files;
  }
}

@include font-face("Steelfish", font-url("/fonts/steelfish-rg.otf"));
@include font-face("Steelfish", font-url("/fonts/steelfish-bd.otf"), bold);
@include font-face("Steelfish", font-url("/fonts/steelfish-eb.otf"), 900);
@include font-face("Droid Sans", font-url("/fonts/DroidSans.ttf"));
@include font-face("Droid Sans", font-url("/fonts/DroidSans-Bold.ttf"), bold);
@include font-face("Droid Serif", font-url("/fonts/DroidSerif.ttf"));
@include font-face("Droid Serif", font-url("/fonts/DroidSerif-Bold.ttf"), bold);
@include font-face("Droid Serif", font-url("/fonts/DroidSerif-Italic.ttf"), false, italic);
@include font-face("Droid Serif", font-url("/fonts/DroidSerif-BoldItalic.ttf"), bold, italic);

$h1Size: 32px;
$h1Line: 1.5;

@mixin title-font($size: -1) {
	font-family: "Steelfish", Impact, sans-serif;
	@if $size > 0 {
		@if unitless($size) {
			$size: 1px * $size;
		}
		font-size: $size;
	}
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@mixin body-font {
	font-family: "Droid Serif", "Museo Serif", "Times New Roman", serif;
}

@mixin alt-font {
	font-family: "Droid Sans", "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
