form {
	&.formtastic {
		.input {
			list-style: none;
		}
		
		.inline-hints {
			font-size: 0.9em;
			font-style: italic;
		}
		
		.buttons {
			margin-bottom: 0.5em;
			
			.button {
				padding-bottom: 4px;
			}
		}
		
		input[type='submit'] {
			border: 0;
			padding: 0;
			@include action-button;
		}
	}
}