<head>
<meta charset="utf-8">
<title>Rails Camp</title>
<link rel="stylesheet" href="/assets/normalize.css" />
<link rel="stylesheet" href="/assets/application.css" />
</head>
<body>

<h3>We don't have the Internet at Railscamp, so we brought a little bit with us:</h3>

<h2>Ruby</h2>
<p>There's a mirror of most versions of ruby at:</p>
<p><a href="http://mirror.railscamp.local/ruby/">http://mirror.railscamp.local/ruby/</a></p>
<p>With <a href="http://git.railscamp.local/rbenv/rbenv">rbenv</a> and <a href="http://git.railscamp.local/rbenv/ruby-build">ruby-build</a> then you can install them from our mirror:</p>
<pre>RUBY_BUILD_MIRROR_URL=http://mirror.railscamp.local/ruby-build/ rbenv install 2.5.3</pre>

<h3>Rubygems &amp; Bundler</h3>
<p>There's a complete mirror of Rubygems available with instructions for <code>gem</code> and <code>bundle</code> at:</p>
<p><a href="http://gems.railscamp.local">http://gems.railscamp.local</a></p>

<h2>Node.js</h2>
<p>There's a mirror of some versions of node.js at:</p>
<p><a href="http://mirror.railscamp.local/nodejs/">http://mirror.railscamp.local/nodejs/</a></p>
<p>With <a href="http://git.railscamp.local/nodenv/nodenv">nodenv</a> and <a href="http://git.railscamp.local/nodenv/node-build">node-build</a> then you can install them from our mirror:</p>
<pre>NODE_BUILD_MIRROR_URL=http://mirror.railscamp.local/node-build/ nodenv install 11.1.0</pre>

<h3>NPM &amp; Yarn</h3>
<p>There's a complete mirror of NPM available with instructions for <code>npm</code> and <code>yarn</code> at:</p>
<p><a href="http://npm.railscamp.local">http://npm.railscamp.local</a></p>

<h3>Homebrew</h3>
<p>Homebrew itself and the core formulae are cloned in our Git server:</p>
<p><a href="http://git.railscamp.local/homebrew">http://git.railscamp.local/homebrew</a></p>
<p>Homebrew sources and bottles for installing packages are available at:</p>
<p><a href="http://mirror.railscamp.local/homebrew-artifacts">http://mirror.railscamp.local/homebrew-artifacts</a></p>
<p>Which can be used from Homebrew like:</p>
<pre>HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_ARTIFACT_DOMAIN=http://mirror.railscamp.local/homebrew-artifacts brew install erlang</pre>

<h3>Elixir</h3>
<p>There's a mirror of some versions of elixir at:</p>
<p><a href="http://mirror.railscamp.local/elixir/">http://mirror.railscamp.local/elixir/</a></p>

<h3>Hex</h3>
<p>There's a pretty rough mirror of Hex available with instructions for <code>mix</code> at:</p>
<p><a href="http://hex.railscamp.local">http://hex.railscamp.local</a></p>

<h2>GitHub &amp; Git</h2>
<p>We don't have GitHub, but we have <a href="http://git.railscamp.local">Gogs</a>:</p>
<p><a href="http://git.railscamp.local">http://git.railscamp.local</a></p>

<h2>Mirrors</h2>
<p>There's an assortment of mirrored content including <a href="http://mirror.railscamp.local/apple/">macOS Command Line Tools</a> on the mirror site:</p>
<p><a href="http://mirror.railscamp.local">http://mirror.railscamp.local</a></p>

<h2>Docs</h2>
<p>Try out devdocs: <a href="http://docs.railscamp.local">http://docs.railscamp.local</a></p>
<p>There's also a random assortment of docs in <a href="http://mirror.railscamp.local/docs/">http://mirror.railscamp.local/docs/</a></p>

<h2>Twitter</h2>
<p>We don't have Twitter, but we have <a href="http://twetter.local">Twetter</a>:</p>
<p><a href="http://twetter.local">http://twetter.local</a></p>

<h2>Coming Soon</h2>
<ul>
<li>Rubygems index &amp; search</li>
</ul>
<h3>Maybe next camp</h3>
<ul>
<li>Gravatar/libravatar server</li>
</ul>

<p>Problems? Suggestions? Twett <a href="http://twetter.local/sj26">@sj26</a>! (or come tap me on the shoulder!)</p>

<p class="howgoodis"><a href="http://howgoodischeese.local">How good is cheese?</a> <a href="http://howgoodiscorn.local">Better than corn</a>, <a href="http://howgoodischocolate.local">not as good as chocolate</a>.</p>
</body>
</html>
