@import 'compass/css3';
@import 'screen/general/colours';
@import 'screen/general/fonts';

@mixin fixed-background {
	background: $pageBackground url('/images/bg.png') repeat fixed 0 0;
}

@mixin circle($diameter) {
	@include border-radius(($diameter/2)+3);
	display: block;
	line-height: $diameter;
	height: $diameter;
	text-align: center;
	vertical-align: middle;
	width: $diameter;
}

@mixin inline-list {
	display: block;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	> li {
		display: inline-block;
	}
}

@mixin global-menu {
	@include inline-list;
	margin: 0 auto;
	text-align: right;
	width: $pageWidth;
}

@mixin action-button {
	@include title-font(18px);
	@include box-shadow(transparentize($menuBackground, 0.6) 3px 3px 0);
	@include text-shadow(opacify($menuShadow, 0.3) -0 -1px 0);
	background: $menuBackground;
	color: $menuColor;
	display: inline-block;
	padding: 0.5em 1.5em;
	text-decoration: none;

	&:active {
		@include box-shadow($menuShadow 3px 3px 2px inset, $menuHighlight -1px -1px 0 inset);
		@include text-shadow($menuHighlight 1px 1px 0);
		background: $menuSelectedBackground;
	}
}

@import 'screen/general/layout';
@import 'screen/general/forms';
@import 'screen/general/content';

/*@import 'jquery/disgustingness';*/

@import 'screen/models/time';
@import 'screen/models/expandable';
@import 'screen/models/thought';
@import 'screen/models/event';
@import 'screen/models/talk';

// Page-specific content overrides
@import 'screen/pages/welcome';
