$gemDiameter: 63px;

.time-gem {
	@include circle($gemDiameter);
	background: $timeGemBackground;
	color: $timeGemColor;
	display: inline-block;
	line-height: 1;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -($gemDiameter/2);
	
	time {
		@include alt-font;
		font-size: 26px;
		font-weight: bold;
		position: absolute;
		top: 50%;
		margin-top: -18px;
	}
	
	i, .units {
		@include body-font;
		font-style: italic;
		font-weight: normal;
		font-size: 10px;
		line-height: 0.8;
	}
	
	.units {
		display: block;
	}
	
	&.future {
		> i:first-child {
			display: none;
			position: absolute;
			top: 8px;
		}
	}
	
	&[data-unit=mins] {
		background: mix($timeGemBackground, $menuBackground, 40%);
	}
}

.with-time-gem {
	&.event, &.talk {
		padding-right: $gemDiameter + 10px;
	}
}