- if @discussion
  #discussion
    %h3= @discussion.title || "Discuss this page"
    %p Anyone can edit this text.  Please do so with care.

    = simple_form_for(@discussion) do |f|
      = f.input :text, :label => false
      = f.button :submit
