- thought ||= Thought.new
- if current_user
  = semantic_form_for thought do |f|
    = f.input :description, :hint => 'Textile supported'

    = f.actions
- else
  %p ...Of course, you should log in first.
  = render :partial => 'sessions/form'
